@{
    ViewData["Title"] = "Home Page";
}

@using webpack.Helpers

@section Links {
    
}

<h2>hi</h2>
<input placeholder="test"/>

<div id="app">
	<hello></hello>
</div>

@section Scripts {
    
}
